.single-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto auto;
  gap: 1rem;
}
.single-item p {
  text-transform: capitalize;
}
.single-item .price {
  color: #c59d5f;
  font-size: 1.25rem;
}
.single-item input[type="checkbox"] {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}
.single-item .btn {
  cursor: pointer;
  color: #fff;
  background: #06b6d4;
  border: transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}
.single-item .btn:hover {
  background: #0e7490;
}

.single-item .remove-btn {
  background: #0f0f0f;
}

.single-item .remove-btn:hover {
  background: #900e0e;
}
