*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #302d30;
  font-family: Calibri, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #fbf6f6;
}

.section-center {
  margin: 0 auto;
  margin-top: 8rem;
  max-width: 30rem;
  background: #888080;
  border-radius: 0.25rem;
  padding: 2rem;
  position: relative;
}
button {
  font-family: inherit;
}
.btn {
  cursor: pointer;
}
